*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.submain{
  background-color: rgb(230, 227, 227);
}
.serch{
  background-color: white;
}
.boxes{
  background-color: white;
}
.mainimg{
  background-color: white;
}
.subimg{
  background-color: white;
}
li:hover{
  border-left: 2px solid blue;
  background-color: rgb(235, 230, 230);
  
}
input{
  outline: none;
  border: none;
}

